# Exercise 3

Let's suppose company "APPLE (UK) LIMITED" (LEI: 549300QKDHYRRQH2MB86) is currently struggling, and we want to know which companies would be exposed in case of failure.

In [1]:
import pandas as pd

In [2]:
companies_data = pd.read_csv("result_exercise_1.csv")
holdings_data = pd.read_csv("../data/holdings.csv", sep=";")
issuances_data = pd.read_csv("../data/issuances.csv", sep=";")

In [3]:
issuances_holders = issuances_data.merge(holdings_data, on='isin')
merged_issuances = issuances_holders.merge(companies_data, how="left", left_on=['holder_lei'], right_on=['child_lei'])

In [4]:
exp_parents_df = merged_issuances.loc[merged_issuances["issuer_lei"]=="549300QKDHYRRQH2MB86"]

In [5]:
exp_parents_df['market_capitalization'] = exp_parents_df['market_capitalization'].astype('int64')

<ipython-input-5-15a4c3ee75e8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exp_parents_df['market_capitalization'] = exp_parents_df['market_capitalization'].astype('int64')

3.1 Retrieve the <b>LEIs</b>, the <b>legal names</b> and the <b>exposure amount</b> of the directly exposed <b>holders companies</b>.

In [6]:
exp_parents_df[["child_name", "market_capitalization"]].sort_values(by=['market_capitalization'], ascending=False)

                                            child_name  market_capitalization
485                            LUFTHANSA TECHNIK SOFIA              245079305
231                          UNILEVER ISRAEL FOODS LTD               31437257
164  MERVE OPTİK SANAYİ VE TİCARET ANONİM ŞİRK...                4503196
57                                   DBUK PCAM LIMITED                 108750
488                            DWS Secured Income Fund                  10131
237                                       MIXHOLD B.V.                   4380
109                               Fineco Verwaltung AG                    512
394    HISTRIA INVERSIONES DESIGNATED ACTIVITY COMPANY                    473

3.2 Retrieve the <b>LEIs</b>, the <b>legal names</b> and the <b>exposure amount</b> of the indirectly exposed <b>ultimate parent companies</b> of all the exposed children companies.

In [7]:
exp_parents_values = exp_parents_df.groupby(by=["parent_name"], as_index=False)["market_capitalization"].sum()
exp_parents_values.sort_values(by=['market_capitalization'], ascending=False)

                             parent_name  market_capitalization
1  Deutsche Lufthansa Aktiengesellschaft              245079305
4                           UNILEVER PLC               31441637
2                       ESSILORLUXOTTICA                4503196
0       DEUTSCHE BANK AKTIENGESELLSCHAFT                 119354
3         UNICREDIT, SOCIETA' PER AZIONI                    512